div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

form {
  border: 1px solid #ccc;
  padding: 10px;
}
  
input[type="text"],
  textarea {
    width: 47vw;
    height: 80vh;
    padding: 10px 5px;
    border: 1px;
    border-radius: 4px; 
    resize: none;

  }
  
input[type="submit"] {
    margin: 5px ;
    background: #248157;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
input[type="submit"]:hover {
    background: #66b994;
  }
  